body {
  background-color: #e0e0e0; /* Light gray background color */
  font-family: 'Arial', sans-serif; /* Choose your preferred font */
}

.block {
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(150, 200, 255) 26%,
    /* Light blue */ rgb(120, 170, 200) 81% /* Darker blue */
  );
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 1;
  margin-bottom: 20px;
  padding: 10px; /* Added padding for better spacing */
}

.search-form {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  padding: 10px; /* Increased padding for better input field aesthetics */
  border: 2px solid #4caf50; /* Green border */
  border-radius: 10px;
  box-shadow: 0 0 15px 2px #4caf50; /* Green shadow */
}

.input:hover {
  border: 5px solid #4caf50; /* Darker green border on hover */
}

.search-btn {
  width: auto;
  padding: 10px;
  border: 2px solid #ff9800; /* Orange border */
  font-weight: bold;
  color: #ff9800; /* Orange text color */
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #ffc107 26%,
    /* Lighter orange */ #ff9800 81% /* Darker orange */
  );
}

.search-btn:not(:disabled):hover {
  border: 2px solid #ff5722; /* Darker orange border on hover */
}

.load-more {
  padding: 10px;
  border: 2px solid #e91e63; /* Pink border */
  color: #e91e63; /* Pink text color */
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #ff4081 26%,
    /* Lighter pink */ #e91e63 81% /* Darker pink */
  );
}

.load-more:hover {
  border: 2px solid #ff4081; /* Darker pink border on hover */
}

.order-list-icon:hover {
  filter: grayscale(50%) sepia(50%);
}
